@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i');

body {
  font-family: 'PT Serif', serif;
}

.navbar-brand {
  color: green;
}

#navbarNav {
  font-size: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* css for the gituser  */

body {
  align-content: center;
}

input {
  padding: 8px;
  width: 70%;
}


ul  {
  list-style-type: none;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}


.user-avatar {
  height: 180px;
  border-radius: 20%;
}

.github-list-item {
  margin: 10px;
}



.modal {
  /*font-size: 12px;*/
  font-size: .7em;
  text-align: center;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}


.repo-list {
  display: block;
  flex-wrap: nowrap;
}